*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    

}
body{
    background-color: black;
}

.wrapper{
    height:100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header{
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}



header button{
    margin-left: 5px;
    font-weight: 100;
    background-color: #3f3f3f;
    padding: 5px;
    color: white;
    border-radius: 5px;
}


/* MAIN */

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.item{
    background-image: url("https://picsum.photos/seed/picsum/300/200");
    background-size: 100%;
    margin: 10px 5px;
    position: relative;
    width: 250px;
    height: 150px;
}


.item span{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 1s opacity ease-in-out;
    opacity: 0.5;

}


.item span:hover{
    opacity: 1.0;

}


/* Footer */

footer{
    height: auto;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-between;
}

footer button{
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;

}

footer i{
    font-size: 2.5em;
    margin: 5px;
}

.endcall{
    color: red;
    background-color: #4a4a4a;
    height: 100%;
    line-height: 2.5em;

}



/* Debug */

.debug .item{


}
.debug main{
overflow: auto;
flex-grow: 1;

}

.debug .container{


}